h1,h2,p{
  margin: 0;
  letter-spacing: 2px;
opacity: 0.5;
  }
  a{
    text-decoration: none;
    line-height: inherit;
    display: inline-block; /*display:inline-block才能使padding具体实现到a*/
    height: inherit;
    color: #fff;
    width:100%;
    padding: 20px;
  }
  a:hover{
    background: silver;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul li{
    display: inline-block;
    padding: 5px;

  }
header{
  background-image: url("img/1.jpg");
}
nav{
  background: #83B1AF;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.banner{
height: 638px;
}
nav ul{
  list-style: none;
  margin: 0;
  float: right;
}
nav ul li,nav .logo{
  display: inline-block;
  line-height: 30px;

  margin-right: 20px;
}
nav   a{
  text-decoration: none;
  line-height: inherit;
  display: inline-block;
  height: inherit;
  color: #fff;
}
nav .logo{
float : left;
font-size : 35px;
padding-left : 10px;
}
.sidebar{
  position: fixed;
  bottom : 0;
  right : -400px;
  top : 0;
  width : 400px;
  background: #607D8B;
  transition: 0.3s;
  z-index: 10;
  }
  .sidebar li{
      width: 100%;
  }
.mask{
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
background: rgba(0,0,0,0.4) ;
}

.banner .inner,.content .inner{
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 129px;
  color: #607D8B;

}
.inner .text{
  letter-spacing: 8px;
  font-size: 30px;
  color :#03a9f4;
  margin: 30px;
}
.content{
display: none;
height: 500px;
}
.inner article {
  color: #fff;
  width:500px;
  margin: 0 auto;
  line-height: 33px;
  display: -webkit-box;
    overflow: hidden;
    height: 200px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}
button{
  border:none;
  background: #86B8B5;
  border-radius: 7px;
  padding: 20px;
  letter-spacing: 6px;
  color: #ddd;
  margin: 10px;
}
.banner .inner .more{
    margin-top: 160px;
    color: #eee;
    font-size: 30px;
}
.fir_content{
  text-align: center;
  color:#ffffff;

  height: 500px;
  background-image:url("img/2.jpg");
}
.wrapper{
  margin: 0 auto;
}
.wrapper h2{
  margin: 0;
  opacity: 0.5;
  padding: 80px 0 10px;
}
.wrapper .sub_heading{
  padding: 15px 0 0;
  opacity: 0.5;
  font-size: 18px;
}
.sec_content:nth-child(odd){
  background: rgba(30, 233, 169, 0.8);

}

.sec_content{
background: #8BC34A;
overflow: hidden;
color: #fff;

}

.gray_section>div{
  float: left;

}
.sec_content .img_section{
  width:45%;
}
.gray_section img{
  width: 100%;
  vertical-align:top; /*去除图片间存在缝隙*/
}
.sec_content .text_section{
  width: 55%;
  position: relative;
  top: 68px;
  left: 60px;
}
.text_section p{
  margin: 20px 0 20px;
}
.text_section .article{
  margin-top: 8px;
  width: 50%;
  font-size: 19px
}
.purple_section {

  text-align: center;
  margin: 0 auto;
  background: #302a54;
  color: #fff;
}
.purple_section .sub_article{
  padding:2% 33%;
  max-width: 55%;
}
.clearfix:after{
  content: '';
  display: block;
  clear: both;
}
.card_group{
  width: 70%;
  margin: 0 auto;
}
.card{
width: 50%;
float: left;
min-height: 220px;
padding: 30px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.card h2{
  margin: 15px;
}
.card:first-child{
  background:#9e9e9e;
}
.card:nth-child(2){
  background: #673AB7;
}
.card:nth-child(3){
  background: #3f51b5;
}
.card:nth-child(4){
  background: #302b38;
}
.footer{
  background:#302a54;;
  font-size: 20px;
  text-align: center;
  padding: 20px;
}
.copy{
  padding: 15px;
  margin-left: 34px;
}

.back_to_top{
  position: fixed;
  bottom: 20px;
  right: 0;
  z-index: 10;
  color: #fff;
  display: none;
}
