@media screen  and 
 (max-width:319px)
{
.footer{
height:20vw;
}
.head{
height:19.99rem;
}
}
@media screen and (min-width:320px) 
and (max-width:374px)
{
.footer{
height:20vw;
}
.head{
height:19.99rem;
}
}
 
@media screen and (min-width:375px){
.footer{
height:21vw;
}
.head{
height:22rem;
}
}

*{
padding:0;
margin:0;
}
.head{
background:#00BDFF;
width:100%;

/*overflow:hidden;*/
text-align:center;
position:relative;

}
.head .head-left{


position:absolute;
left:0;
top:40%;


}
.head .head-center{

font-size:10vw;
position:relative;
top:30%;

}
.head .head-right{

float:right;
position:absolute;
top:45%;
right:0;
}
.settime{

width:100%;
text-align:center;
font-size:20vw;
background:#fcf5f5;

}
.container1{
width:100%;
background:#f4f4f4;
}
.box1{
float:left;
width:50%;
text-align:center;
}
.box-i{


font-size:12vw;
}
.unit{
font-size:5vw;

}
.box2{
width:50%;
float:right;
text-align:center;
}

.box0{
width:100%;


}
.box0-i{
float:left;
width:33%;
background:#f4f4f4;
}
.box3
{

text-align:center;
width:100%;

background:#f4f4f4;

}
.box-a{
font-size:5rem;

}
.pic{

}
.unit1{
font-size:3vw;
}

.box-a1{

font-size:11vw;
width:33%;
margin-left:6.3%;
}
.pic1 img{
width:8%;
height:5%;
}
.box-a2{
font-size:5rem;

}
.pic2{

}
.container2{
text-align:center;
width:100%;
height:45vw;
background:#f4f4f4;

}
.start{
width:50%;
float:left;
background-color:#f4f4f4;
position:relative;
top:20%;
}
.start img{
width:50%;

}
.content{
width:50%;
float:right;
background-color:#f4f4f4;
position:relative;
top:30%;
}
.content img{
width:10%;

}
.content-a{
position:relative;
top:25%;
}
.content-choose{
font-size:3.5vw;
font-weight:bold;
}
.content-search{
font-size:1vw;
}
.footer{
width:100%;
text-align:center;
background:#323232;
overflow:hidden;

}
.footer img{
width:100%;
height:100%;
}
.content-i{
width:20%;
float:left;
}