/*
* @Author: Administrator
* @Date:   2017-09-05 14:14:41
* @Last Modified by:   Administrator
* @Last Modified time: 2017-09-05 14:15:26
*/
.content{
	width: 1200px;
	height: 1000px;
	background: yellow;
	margin:0 auto;
}