ul{
  list-style-type : none;
  background : rgb(183, 179, 179);
}
li{
  margin: 15px ;
  border: solid 2px #fff;
}
.section{
text-align : center;
margin :0 10% 0 10%;
padding: 2px 0 15px 0;
background : #fff;
box-shadow : -2px 2px 2px #000 , 2px 2px 2px #000 ;
}

.title{
  font-family: monospace;
  font-size  : 45px;
  font-weight: bold;
  margin: 10px;

}
.input{
   height : 50px;
   width : 60%;
   font-size : 40px;
   line-height : 100px;
   font-family: cursive;
}

li:hover .box{
  display:inline;

}

.box{
  margin-left: 65%;
  border-bottom-left-radius: 100%;
  border-top-left-radius: 100%;
  background: #aaa;

  display: none;
}

.element{
  list-style: none;
  width: 100%;
  font-size: 30px;
  font-family: cursive;
  float: left;
  color : #fff;
  padding : 0;
}



.form{
  clear : both;
}
.show,.editing{
  float : left;
  margin-left : 10px;
}
.show .edit ,.editing .disp{
  display : none;
  float : left;
}
.editing .edit{
  display: block;
}
